.footer {
    margin-top: 20px;
    background-image: linear-gradient(
		to right bottom,
		rgba(137, 196, 244, 0.7),
		rgba(75, 119, 190, 0.8));
    display: flex;
    align-items: center;
}

.footer-logo {
    height: 60px;
    padding: 10px;
}